{% extends 'Anime/base.html' %}
{% block title %} ANIME ONLINE {% endblock %}

{% block content %}
<div class="features">
    <h1>🅐🅝🅘🅜🅔</h1>
    <p>Anime titles with their Japanese season. Open New for the latest articles or About to see how the site works.</p>
</div>
<div class="row anime-grid">
    {% for anime in anime %}
        <div class="col-auto">
        <div class="card" style="width: 18rem;">
            <img src="{{ anime.image }}" class="card-img-top" alt="{{ anime.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ anime.name }}</h5>
              <p class="card-text"> Season: {{ anime.animeseision }} </p>
              <a href="#" class="btn btn-primary"> Download </a>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}