{% extends 'Anime/base.html' %}
{% block title %} New {% endblock %}

{% block content %}
    <div class="features">
        <h1>🅐🅝🅘🅜🅔</h1>
        <h1>NEW</h1>
        {% if  new %}
          {% for el in new %}
            <div class="alert alert-warning">
                <h3> {{ el.title }}</h3><br>
                <p>{{ el.anons }}</p><br>
                <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Открыть статью</a>
            </div>
          {% endfor %}
        {% else %}
            <p> Простите здесь пока что ничего нету</p>
        {% endif %}

        {# Коментарий #}
    </div>
{% endblock %}